# RStudio / R session cruft
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata

# OS
.DS_Store

# build artefacts
*.o
*.so
src/*.o
src/*.so

# logs (e.g. OmnipathR)
omnipathr-log/

# vignette render artefacts
vignettes/*_files/
vignettes/*_cache/
